

body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: lightgray;
  border-radius: 0;
  border: 20px;
  height: 80px;
}
    
.navbar-brand {
  padding: 15px;
}

  #drop-down-menu {
  position:absolute;
  top: 50;
  right:0;
  width: 100%;
  border: 1px solid black;
  
  }

  #nav-list li{
     background-color:lightgoldenrodyellow;
     color:lightslategrey;
     border-color: black;
     border: 1px solid black;
     height: 35px;
     
  }

  #nav-list li a:hover, #nav-list li a:focus {
  background-color: gold;
  }

  hr {
  color: black;
  }

 #maincontent h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
  margin-top: 5;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}

.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
  margin-top: 5;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

section {
    height: 1000 px;
    background-color: lightblue;
    color: black;
    
}

section p {
  padding: auto;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
 /* width: 85%;*/
  border-width: 20px;
}

hr{
    width: 60%;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Company name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #maincontent h1 {
    margin-bottom: 25px;
    margin-top: 140px;

    
    }
    section p {
      padding: auto;
      margin-top: 50px;
    }
  }

  /*******************************************
  body {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


#header-nav {
  background-color: #757575;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 40px;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand h1 {
  
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 1.7em;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  padding-bottom: 20px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -33px;
}

#nav-list li p {
  background: #ffffff;
}


#home-tiles .item-text {
  background: #5e5e5e;
  padding: 10px;
}

#home-tiles .item-text p {
  font-size: 1.3em;
  font-weight: 400;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Home Page */
  .menu-item-description {
    text-align: center;
  }
}
*/